{% extends 'base.html' %}

{%block title%} My Awesome Cart {% endblock %}

{% block css %}


{% endblock %}


{% block mains %}
<div class="container my-2">
<div class="row">
        <div class="col-md-4 order-md-2 mt-8">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between" >
              <span>Total (USD)</span>
              <strong><span id="price"></span></strong>
            </li>
          </ul>

          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate="" method="post" action="checkout">
            {% csrf_token %}
             <div class="row">
              <div class="mb-3">
                <label for="name">Your name</label>
                <input type="name" class="form-control" id="name" name="name" placeholder=""  required="">
                <div class="invalid-feedback">
                  Valid  name is required.
                </div>
              </div>

            </div>


            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>




            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
               <input name="price" hidden type="text"  id="price1" value="" >
            </div>




            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" name="state" required="">
                  <option value="">Choose...</option>
                  <option>Delhi</option>
                    <option>Rajasthan</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="city">City</label>
                <select class="custom-select d-block w-100" id="city" name="city" required="">
                  <option value="">Choose...</option>
                  <option>Jaipur</option>
                    <option>Bharatpur</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid city.
                </div>
              </div>

              <div class="col-md-3 mb-3">
                <label for="zip_code">Zip</label>
                <input type="number" class="form-control" id="zip_code" name="zip_code" placeholder="" required="">
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>

            </div>

             <div class=" mb-3">
              <label for="phone">Phone <span class="text-muted"></span></label>
              <input type="text" class="form-control" name="phone" id="phone" >
              <div class="invalid-feedback">
                Please enter a valid phone number for shipping updates.
              </div>
            </div>

            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

          </form>
        </div>
      </div>
</div>

{% endblock %}

{% block js%}

   var ksp = sessionStorage.getItem("ftp");

   document.getElementById("price").innerHTML = ksp;

   document.getElementById("price1").value=ksp;



   $('#itemsJson').val(JSON.stringify(cart));
   {% if thank %}
    alert("Thanks for Selecting ,Now Go to Payment Section")
    localStorage.clear();
    document.location="/payment";
    {%endif%}

{% endblock %}