{% extends 'base.html' %}
{% block css%}

 body{
   background:#eee;
}
.panel-order .row {
	border-bottom: 1px solid #ccc;
}
.panel-order .row:last-child {
	border: 0px;
}
.panel-order .row .col-md-1  {
	text-align: center;
	padding-top: 15px;
}
.panel-order .row .col-md-1 img {
	width: 50px;
	max-height: 50px;
}
.panel-order .row .row {
	border-bottom: 0;
}
.panel-order .row .col-md-11 {
	border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
	padding-top: 7px;
	padding-bottom: 7px;
}
.panel-order .row .row .col-md-12:last-child {
	font-size: 11px;
	color: #555;
	background: #efefef;
}
.panel-order .btn-group {
	margin: 5px;
	padding: 5px;
}
.panel-order .panel-body {
	padding-top: 15px;
	padding-bottom: 15px;
}
.panel-order .panel-heading {
	margin-top: 10;
}

{% endblock %}

{% block mains %}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container bootdey">
    <div class="panel panel-default panel-order">
        <div class="panel-heading" style="margin-top:20px;">
            <strong>Order history</strong>
            <div class="btn-group pull-right">
                <div class="btn-group">

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Approved orders</a></li>
                        <li><a href="#">Pending orders</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="panel-body">
            {% for dest in dests %}
            <div class="row">
                <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_1.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div  class="pull-right"><label class="label label-info">pending</label></div>
                            <span><strong>Order name</strong></span> <span class="label label-info">group name</span><br />
                            Quantity : 12, cost: Rs.{{dest.price}}<br />
                            <div><h6>Order id: {{dest.order_id}}</h6> </div>
                            <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                            <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                            <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>
                        </div>
                        <div style="font-size:15px;" class="col-md-12">order made on: <b>{{dest.currentdate}}</b> </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <footer class="text-all-center">
        <p style="padding-top: 15px;">Copyright &AMP; bookmall.com</p>
    </footer>
    </div>
</div>
{% endblock %}